/* text format */
a:link {
  color: #000000;
  text-decoration: none;
}
h3 {
  overflow: auto;
  width: 40rem;
  font-size: 100%;
}
h2 {
  font-size: 150%;
}
h1 {
  font-size: 200%;
}
p {
  font-size: 100%;
}
italic {
  font-style: italic;
}
/* text format */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  overflow: scroll;
}
header {
  background-color: #6200ea;
  color: white;
  padding: 1rem 0;
  text-align: center;
  width: 100%;
  height: 100%;
}
main {
  padding: 2rem;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  columns: auto;
  justify-content: center;
  justify-items: center;
}
.grid.contents {
  gap: 5%;
}
.grid.icons {
  gap: 2rem;
}
footer {
  text-align: center;
  justify-items: center;
  background-color: #6200ea;
  color: white;
  padding-bottom: 0.5rem;
  /* very bottom of the page */
  position: sticky;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.module {
  background: white;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  height: 50%;
  width: auto;
}
.narasi {
  background: white;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  height: fit-content;
  width: auto;
}
.module.main {
  width: 12rem;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.module.main:hover {
  transform: scale(1.25);
}
iframe {
  width: 40rem;
  height: 40rem;
  border: none;
}
.scratch {
  padding: 1rem;
}
.logo {
  width: 30px;
  height: auto;
  margin: 0 auto;
  display: block;
}
/* button */
.button {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 50%; /* Place the button at the bottom of the page */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #6200ea; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}
.button:hover {
  background-color: #555; /* Add a dark-grey background on hover */
  scale: 1.1; /* Scale the button on hover */
  transition: scale 0.2s; /* Add transition for smooth scaling */
}
#buttonright {
  right: 30px;
}
#buttonleft {
  left: 30px;
}
.indexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #f4f4f9;
}
